article#container,
footer {
	padding: 1em;
}

.hero-unit {
	margin: 1em;
}

#campaigns-index .thumbnails a {
	display: block;
}

.avatar-list {
        padding: 1ex;
}

.avatar {
        display: inline-block;
        border: 1px solid #999;
        border-radius: 50%;
        box-shadow: 0px 1px 1px 1px #bbb;
        padding: 3px;
}
.avatar img {
        border: 0;
        margin: 0;
        border-radius: 50%;
}

body {
	font-family: "PT Serif";
}

h1, h2, h3, h4, h5 {
	font-family: "PT Sans";
}
