<!DOCTYPE html>
<html>
<head>
<title>PolitiChange - Facilitating Political Change</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/eric-meyers-css-reset.css">
	<link rel="stylesheet" type="text/css" href="/static/base.css">

</head>
<body id="home">
    <div id="container">
    
    
        <div id="header">
            <a class="left" href="index.html"><img src="/static/images/politichange-logo.png" alt=""></a>
            <form class="right" name="login-form" action="" method="get">
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
        </div>

		  <article>
		    {% block content %}{% endblock %}
		  </article>

	<script src="http://code.jquery.com/jquery-1.9.1.min.js">
	</script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js">
	</script>

	   <div id="footer">
	   </div>
    </div>
</body>
</html>