<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %} — PolitiChange: Facilitating Political Change</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<!--<link type="text/css" href="/static/base.css" rel="stylesheet">-->
	<link type="text/css" href="/static/styles.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/"><img src="/static/images/politichange-logo.png" alt=""></a>
				<ul class="nav">
					<li><a href="/participants">Participants</a></li>
					<li><a href="/campaign">Campaigns</a></li>
				</ul>
				<ul class="nav pull-right">
					<li>
						{% if not user.is_authenticated %}
						<a class="browserid-login" href="#">Sign In</a>
						{% else %}
						<a href="">Signed in as {{ user.email }}</a> (<a href="{% url 'logout' %}">Log out</a>)
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="hero-unit">
		<p>PolitiChange is a platform for citizens to become more involved in government as a new official, or supporting new officials.</p>
	</div>
	

	<article id="container">
		{% block content %}{% endblock %}
	</article>

<footer>
	© 2013 Us. All rights reserved.
</footer>

<form method="POST" action="{% url 'browserid_verify' %}">
	 {% csrf_token %}
	 {{ browserid_form.as_p }}
</form>

 </div>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
{{ browserid_form.media }}
</body> </html>
