{% load gravatar %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
	<head>
		{% bootstrap_css %}
		{% bootstrap_js all %}
	</head>
	<body>
		<div class="container">
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<a class="brand" href='/'>Politichange</a>
				<ul class="nav">
					<li class="active"><a href="">Participants</a></li>
					<li><a href="">Campaigns</a></li>
				</ul>
			</div>
		</div>
	</div>

{% if all_users %}
	<ul>
		{% for user in all_users %}
		<li>{% gravatar user.email 32 %} {{ user.name }}</li>
		{% endfor %}
	</ul>
{% endif %}

</body>
</html>
