{% load gravatar %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
	<head>
		{% bootstrap_css %}
		{% bootstrap_js %}
	</head>
	<body>
		<header class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand">Politichange</h1>
				<ul class="nav">
					<li class="active">Participants</a></li>
				</ul>
		</div>
	</div>
		</header>

{% if all_users %}
	<ul>
		{% for user in all_users %}
		<li>{% gravatar user.email  %} {{ user.email }}</li>
		{% endfor %}
	</ul>
{% endif %}

</body>
</html>
