{% extends "base.html"%}
        
{% block content %}
        
<div id="campaigns-index">
	<div class="zipcode">
		<p>Enter your zipcode to begin supporting candidates near you</p>
		<form>
			<input class="big" type="text" name="zipcode" placeholder="zipcode">
		</form>
	</div>

	<ul class="thumbnails">

		<li class="span4">
		<div class="thumbnail">
			<a href="./constituent/profile-female.html">
				<img src="/static/images/photo-female-sm.jpg" alt="">
				<h3>First Last</h3>
				<p>Position, State</p>
				<p>Party alignment</p>
				<img src="/static/images/progress-red.jpg" alt="">
				<table>
						<tr>
								<td>XX%</td>
								<td>$X,XXX</td>
								<td>XX</td>
						</tr>
						<tr>
								<td>Funded</td>
								<td>Pledged</td>
								<td>Days to go</td>
						</tr>
				</table>
			</a>
</div>
	</li>

</ul>

</div>

{% endblock %}
