{% extends "base.html" %}
{% block content %}
        <div id="main">
					<div class="row-fluid">
            <div class="span6">
							<div class="profile-image">
								<img src="/static/images/female-02-large.jpg">
								<p><span><strong>&nbsp;Jane McKay&nbsp;</strong><br />&nbsp;Running for Senator in New Mexico&nbsp;<br />&nbsp;Republican&nbsp;</span></p></div>
                <p>Ad ea fap raw denim trust fund church-key. Exercitation biodiesel cardigan sriracha
lomo. Keffiyeh aliquip salvia, esse beard tousled vinyl pariatur assumenda
fanny pack magna forage Austin. Culpa twee brooklyn pop-up aliqua. Wolf pickled
umami ea aute fanny pack. Mixtape swag vice, do twee williamsburg iphone
cardigan hashtag commodo sint semiotics. Sed irure enim fugiat tonx, skateboard
typewriter pitchfork locavore pariatur anim odd future umami.</p>
            </div>
						<table class="table">
							<tr>
								<td class="metric">1,958</td>
								<td>supporters</td>
							</tr>
							<tr>
								<td class="metric">$5,231</td>
								<td>pledged of $7,000 goal</td>
							</tr>
							<tr>
								<td class="metric">3</td>
								<td>days to go</td>
							</tr>
						</table>
            <p><a class="btn btn-primary btn-large" href="#"><strong>Support</strong> this campaign</a>
            </div>
					</div>
        </div>
{% endblock %}
