{% extends "base.html" %}
{% block content %}
<div id="main">
	<div class="row-fluid">
		<div class="span8">
				<div class="profile-image"><p><span><strong>&nbsp;Jane McKay&nbsp;</strong><br />&nbsp;Running for Senator in New Mexico&nbsp;<br />&nbsp;Republican&nbsp;</span></p></div>
				<p>Ad ea fap raw denim trust fund church-key. Exercitation biodiesel cardigan sriracha
lomo. Keffiyeh aliquip salvia, esse beard tousled vinyl pariatur assumenda
fanny pack magna forage Austin. Culpa twee brooklyn pop-up aliqua. Wolf pickled
umami ea aute fanny pack. Mixtape swag vice, do twee williamsburg iphone
cardigan hashtag commodo sint semiotics. Sed irure enim fugiat tonx, skateboard
typewriter pitchfork locavore pariatur anim odd future umami.</p>
		</div>
		<div class="span4 info">
				<p class="num">1,958</p>
				<p class="label">supporters</p>
				<p class="num">$5,231</p>
				<p class="label">pledged of $7,000 goal<br />
				<img src="../images/progress-blue.jpg" alt=""></p>
				<p class="num">3</p>
				<p class="label">days to go</p>
				<a href="support" title="Support this campaign"><strong>Support</strong> this campaign</a>
		</div>
</div>
{% endblock %}
