{% extends "base.html" %}        
        {% block content %}
        <div id="main">
            <form name="login-form" action="../constituent/profile-male.html" method="get">
            <div class="col-3">
                <p class="half">First name<br /><input type="text" name="firstName"></p>
                <p class="half">Last name<br /><input type="text" name="lastName"></p>
                <p class="full">Desired political position<br /><input type="text" name="position"></p>
                <p class="full">Threshold amount<br /><input type="text" name="threshold"></p>
                <p class="half">Campaign end date<br /><input type="date" name="campEndDate"></p>
                <p class="half">Election date<br /><input type="date" name="electionDate"></p>
                <p class="full">Summary of the platform you will be running on<br /><textarea rows="10" cols="65"></textarea></p>
                <p>Rate your support of issue one<br />
                <img src="../images/progress-blue.jpg" alt=""><br />
                <textarea rows="3" cols="65" placeholder="300 characters"></textarea></p>
                <p>Rate your support of issue two<br />
                <img src="../images/progress-blue.jpg" alt=""><br />
                <textarea rows="3" cols="65" placeholder="300 characters"></textarea></p>
                <p>Rate your support of issue three<br />
                <img src="../images/progress-blue.jpg" alt=""><br />
                <textarea rows="3" cols="65" placeholder="300 characters"></textarea></p>
                <p>Rate your support of issue four<br />
                <img src="../images/progress-blue.jpg" alt=""><br />
                <textarea rows="3" cols="65" placeholder="300 characters"></textarea></p>
                <p>
                <input class="button blue" style="margin: 0 0 20px 0;" type="submit" name="Preview" value="Preview your New Campaign">
                <input class="button blue" type="submit" name="Publish" value="Publish your New Campaign">
                </p>
            </div>
            <div class="col-3">
                <p><input type="file" name="img" Value="Upload a photo"><br /><em>620px x 320px</em></p>
                <p><img src="../images/profile-male.jpg" alt=""></p>
            </div>
            </form>
        </div>
        
        
       {%endblock%}