{% extends "base.html" %}

{% block content %}
<div id="campaign-index">
	<div class="row-fluid">
		<div class="span4">
				<a class="btn btn-large" href="create-campaign.html" title="Create a new campaign"><strong>Create</strong> Campaign</a>
				<p>You will need to have the following before you begin</p>
				<ul>
						<li>Qui accusamus trust fund typewriter.</li>
						<li>Literally aliquip lomo small batch in wes anderson YOLO. Ad iphone keffiyeh, carles veniam</li>
						<li>freegan typewriter duis tousled fixie. Letterpress</li>
						<li>you probably haven't heard of them keffiyeh aliquip ethnic officia neutra</li>
				</ul>
		</div>
		<div class="span4">
				<a class="btn btn-large" href="#" title="Update an existing campaign"><strong>Update</strong> Campaign</a>
				<p>You will need to have the following before you begin</p>
				<ul>
						<li>Qui accusamus trust fund typewriter.</li>
						<li>Literally aliquip lomo small batch in wes anderson YOLO. Ad iphone keffiyeh, carles veniam</li>
						<li>freegan typewriter duis tousled fixie. Letterpress</li>
						<li>you probably haven't heard of them keffiyeh aliquip ethnic officia neutra</li>
				</ul>
		</div>
		<div class="span4">
				<a class="btn btn-large" href="#" title="Delete an existing campaign"><strong>Delete</strong> Campaign</a>
				<p>You will need to have the following before you begin</p>
				<ul>
						<li>Qui accusamus trust fund typewriter.</li>
						<li>Literally aliquip lomo small batch in wes anderson YOLO. Ad iphone keffiyeh, carles veniam</li>
						<li>freegan typewriter duis tousled fixie. Letterpress</li>
						<li>you probably haven't heard of them keffiyeh aliquip ethnic officia neutra</li>
				</ul>
		</div>
	</div>
</div>
{% endblock %}
